body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 20%;
    background-color: #e0726a;
    color: white;
    font-size: 100%;
    text-shadow: 5px 5px #ef4343;
}

h1 {
    padding-bottom: 20px;
}


.box {
    width: 70%;
    height: 400px;


    text-shadow: none;
    background-color: #ebccc9;
    box-shadow: 20px 20px #ef4343;
    font-size: 1.5rem;
}